
/*    GENERAL STYLE     */


body {font-family: "Times New Roman", Times, serif;
      font-size:10pt;
      background-color: fffff0;
      margin: 5ex;
      line-height: 2.5ex;
      max-width:90ex;
      text-align:left;
}

h1   {  margin-top: 2.5ex;
        margin-bottom: 2ex;
        font-size:14pt;
        padding: 0 0;
        font-weight:bold;
}


h2   {  font-size:12pt;
        font-weight:bold;
}

h3   {  font-size: 10pt;
        color:black; 
        margin-bottom:0ex;
        padding-bottom:1ex;
        margin-top2ex;
}

em{
   font-style:italic;
}

a     {  color:maroon;
}

li{
   margin-bottom: 1.5ex;
}

#toc strong {font-weight:bold;
}

#toc ul {list-style-type:circle;
padding-left:1em;
margin-bottom:1ex;
}

#toc li {margin:0.3ex;
}
